{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-4">Capricorn</h2>
            <p class="lead"> {{ text }}</p>
                <h5>Not Happy?</h5>
            <p>
                <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#collapseCapricorn" aria-expanded="false" aria-controls="collapseExample">
                    Try Another One!
                </button>
            </p>
            <div class="collapse" id="collapseCapricorn">
                <div class="card card-body">{{ alt_text }}</div>
            </div>
        </div>
    </div>
{% endblock content %}